{% extends "layout.html" %}
{%block content %}
    {% from "_formhelpers.html" import render_field %}
    <form method="post">
      <dl>
        {{ render_field(form.username) }}
      </dl>
      <p><input type=submit class="btn btn-primary btn-lg active" value=View>
    </form>
    
    <br>
    <br>
    {% if data %}
    <table class="table table-bordered">
        <caption>Reports for {{user}}</caption>
        <tr>
            <th>Report</th>
          </tr>
      
        {% for report in data %}
          {% if  report %}
            <!-- {% for r in transaction %} -->
            <tr>
              <td>{{report}}</td>
            </tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
          
      
    </table>
    {% endif %}
{% endblock content %}